.welcome-sign-note-wrapper {
    display: flex;
    color: #213547;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    justify-content: center;
    flex-wrap: wrap;
    height: 70px;
    align-items: center;
}

.welcome-sign-note-text-wrapper {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
    vertical-align: top;
    margin-top: 20px;
}

.welcome-sign-note-text-header {
    margin: 0;
}

.welcome-sign-note-text-header-new-user {
    margin: 0;
    padding-right: 30px;
}
