.countdowntimer-timerInput {
    margin-bottom: 5%;
}

.countdowntimer-countdownAlert {
    color: green;
}

.countdowntimer-timesUp {
    color: red;
}

.countdowntimer-clockSim {
    position: relative;
    border-radius: 2em;
    padding: 4%;
    background: #eadfb5;
}

.countdowntimer-clockSim:before {
    position: absolute;
    right: 5vmin;
    bottom: -4vmin;
    left: 5vmin;
    display: block;
    height: 4vmin;
    background: #eadfb5;
    border-top: 0.25em solid #e8f3e1;
    content: "";
    transform: perspective(200px) rotateX(10deg);
}

.countdowntimer-clockSim:after {
    position: absolute;
    bottom: -1em;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    background: #dae4d4;
    border-radius: 2em;
    content: "";
    transform: perspective(35em) rotateX(60deg) skew(62deg);
    transform-origin: bottom right;
}
