.countdowntimer-timerInput {
    margin-bottom: 5%;
}

.countdowntimer-countdownAlert {
    color: green;
}

.countdowntimer-timesUp {
    color: red;
}

.countdowntimer-clockSim {
    position: relative;
    border-radius: 2em;
    padding: 4%;
    background: #eadfb5;
}
