.how-to-work-text-wrapper {
    padding: 10px 50px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    max-width: 900px;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
}

.how-to-work-text-loading-text {
    color: #f2b4bf;
    font-size: 1.1em;
}

.how-to-work-text-error-text {
    color: #dc323f;
    font-size: 1.1em;
}

.how-to-work-text-loaded-text {
    color: #0075cc;
    font-size: 1.1em;
}

.how-to-work-text-general-text {
}

.how-to-work-text-general-text:last-child {
    padding-top: 0px;
    margin-top: 0;
}

.how-to-work-text-general-text-first {
    margin-top: 0;
}
